<<<<<<< HEAD
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  font-style: italic;
  font-size: 20px; /* Adjust as needed */
=======
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  font-style: italic;
  font-size: 20px; /* Adjust as needed */
>>>>>>> e8b59a0471c883f3840e95294ddf0e06a44744d4
}