<<<<<<< HEAD
.full-cell-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
=======
.full-cell-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
>>>>>>> e8b59a0471c883f3840e95294ddf0e06a44744d4
}