{% extends 'base.html' %} {% block head %}
<title>Home Page</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<h1>Welcome,</h1>
{% endblock %} {% block body %}

<br /><br /><br /><br /><br /><br /><br /><br />

<table>
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <h2><b>Active Populations</b></h2>
          </td>
        </tr>
        <tr>
          <!-- Active Population List -->
          <td>
            <table>
              {% for row in student_population %}
              <tr>
                <td>
                  <u>
                    <a
                      class="full-cell-link"
                      href="/populations/{{ row[2] }}/{{ row[1] }}/{{ row[0] }}"
                    >
                      {{ row[0] }}
                    </a>
                  </u>
                </td>
                <td style="padding: 10px"></td>
                <td>{{ row[1][0] }}{{ row[2] }}</td>
                <td>({{ row[3]}})</td>
              </tr>
              {% endfor %}
            </table>
          </td>
          <!-- Active Popoulation Graph -->
          <td>
            <img
              src="{{ url_for('static', filename='first_chart.png') }}"
              alt="Chart"
            />
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td>
            <h2><b>Overall Attendance</b></h2>
          </td>
        </tr>
        <tr>
          <!-- Overall Attendace List -->
          <td>
            <table>
              {% for row in overall_attendance %}
              <tr>
                <td>
                  <table>
                    <tr>
                      <div class="flex-container">
                        <div>{{ row[0] }}</div>
                        <div style="padding: 10px"></div>
                        <div>{{ row[1][0] }}{{ row[2] }}({{ row[3]}})</div>
                      </div>
                    </tr>
                  </table>
                </td>
              </tr>
              {% endfor %}
            </table>
          </td>
          <!-- Overall Attendace Chart -->
          <td>
            <img
              src="{{ url_for('static', filename='second_chart.png') }}"
              alt="Chart"
            />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
