{% extends 'base.html' %} {% block head %}
<title>Login</title>
<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  button {
    display: block;
    margin: auto;
  }
</style>
{% endblock %}{% block body %}
<h2>MySQL DataBase Login</h2>
<form action="/" method="post">
  <div class="container">
    <table>
      <tr>
        <td>
          <label for="host"><b>Host</b></label>
          <input type="text" placeholder="Enter Host" name="host" required />
        </td>
      </tr>
      <tr>
        <td>
          <label for="user"><b>User</b></label>
          <input type="text" placeholder="Enter User" name="user" required />
        </td>
      </tr>
      <tr>
        <td>
          <label for="password"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            required
          />
        </td>
      </tr>
      <tr>
        <td>
          <label for="database"><b>Database</b></label>
          <input
            type="text"
            placeholder="Enter Database"
            name="database"
            required
          />
        </td>
      </tr>
      <tr>
        <td>
          <br />
          <button type="submit">Login</button>
        </td>
      </tr>
    </table>
  </div>
</form>
{% endblock %}
